html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=title
  body
    h1 Color Predictor

    .color
      .black
        h1 Black
        p This is just some fill text in order to fully see how it looks like. And I don't really know what else to write here now, I added a comma just to have something to write, bye! 
      .white
        h1 White
        p This is just some fill text in order to fully see how it looks like. And I don't really know what else to write here now, I added a comma just to have something to write, bye! 
    div.ai